/* Write your CSS here */
.list {
  list-style-type: none;
}

.appointment {
  height: 80px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #b5b7c4;
  border-radius: 8px;
  outline: none;
  margin-right: 10px;
}
.name-container {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.name-heading {
  font-family: 'Roboto';
  font-size: 15px;
  color: #171f46;
  font-weight: 500;
}
.date-time {
  font-family: 'Roboto';
  font-size: 12px;
  color: #b5b7c4;
}
.star-icon {
  background-color: transparent;
  border: none;
  outline: none;
  margin-top: 8px;
}
